# Explora√ß√£o de Dados - Olist E-Commerce
## Bronze Layer - Gera√ß√£o do Data Dictionary

In [35]:
# imports e setups
import pandas as pd
import numpy as np
from pathlib import Path

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

DATA_PATH = Path('../data/raw')
print("Setup finished!")

Setup finished!

In [36]:
# dicion√°rio com todos os datasets
datasets = {
    'orders': 'olist_orders_dataset.csv',
    'order_items': 'olist_order_items_dataset.csv',
    'customers': 'olist_customers_dataset.csv',
    'products': 'olist_products_dataset.csv',
    'sellers': 'olist_sellers_dataset.csv',
    'reviews': 'olist_order_reviews_dataset.csv',
    'payments': 'olist_order_payments_dataset.csv',
    'geolocation': 'olist_geolocation_dataset.csv',
    'category_translation': 'product_category_name_translation.csv'
}

# carregar os datasets
dfs = {}
for name, filename in datasets.items():
    dfs[name] = pd.read_csv(DATA_PATH / filename, nrows=10000)
    print(f"{name}: {dfs[name].shape}")

print("\nDatasets carregados!")

orders: (10000, 8)
order_items: (10000, 7)
customers: (10000, 5)
products: (10000, 9)
sellers: (3095, 4)
reviews: (10000, 7)
payments: (10000, 5)
geolocation: (10000, 5)
category_translation: (71, 2)

Datasets carregados!

In [37]:
## gerar dicion√°rio de dados autom√°tico
def generate_data_dictionary(df, dataset_name):
    """
    Gera dicion√°rio de dados autom√°tico para um dataset
    """
    print(f"\n{'='*80}")
    print(f"üìä DATASET: {dataset_name.upper()}")
    print(f"{'='*80}\n")
    
    # Informa√ß√µes gerais
    print(f"**Total de Linhas**: {len(df):,}")
    print(f"**Total de Colunas**: {len(df.columns)}")
    print(f"**Mem√≥ria**: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB\n")
    
    # Tabela de colunas
    print("### Colunas\n")
    print("| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |")
    print("|--------|------|-----------|-------|---------|--------|---------|")
    
    for col in df.columns:
        dtype = str(df[col].dtype)
        non_null = df[col].count()
        null_count = df[col].isnull().sum()
        null_pct = (null_count / len(df) * 100)
        unique = df[col].nunique()
        
        # Pegar exemplo (primeiro valor n√£o-nulo)
        example = df[col].dropna().iloc[0] if df[col].count() > 0 else "N/A"
        if isinstance(example, (int, float)):
            example = f"{example:.2f}" if isinstance(example, float) else str(example)
        else:
            example = str(example)[:20]  # Limitar tamanho
        
        print(f"| {col} | {dtype} | {non_null:,} | {null_count:,} | {null_pct:.1f}% | {unique:,} | {example} |")
    
    # Estat√≠sticas descritivas para colunas num√©ricas
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    if len(numeric_cols) > 0:
        print("\n### Estat√≠sticas Num√©ricas\n")
        print(df[numeric_cols].describe().to_markdown())
    
    # Primeiras linhas
    print("\n### Sample Data (primeiras 3 linhas)\n")
    print(df.head(3).to_markdown())
    
    print("\n" + "="*80 + "\n")

In [38]:
## gerar dicion√°rio de dados para cada dataset
for name, df in dfs.items():
    generate_data_dictionary(df, name)

================================================================================
üìä DATASET: ORDERS
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 8
**Mem√≥ria**: 5.32 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| order_id | object | 10,000 | 0 | 0.0% | 10,000 | e481f51cbdc54678b7cc |
| customer_id | object | 10,000 | 0 | 0.0% | 10,000 | 9ef432eb6251297304e7 |
| order_status | object | 10,000 | 0 | 0.0% | 7 | delivered |
| order_purchase_timestamp | object | 10,000 | 0 | 0.0% | 9,995 | 2017-10-02 10:56:33 |
| order_approved_at | object | 9,979 | 21 | 0.2% | 9,868 | 2017-10-02 11:07:15 |
| order_delivered_carrier_date | object | 9,834 | 166 | 1.7% | 9,511 | 2017-10-04 19:55:00 |
| order_delivered_customer_date | object | 9,720 | 280 | 2.8% | 9,710 | 2017-10-10 21:25:13 |
| order_estimated_delivery_date | object | 10,000 | 0 | 0.0% | 421 | 2017-10-18 00:00:00 |

### Sample Data (primeiras 3 linhas)

|    | order_id                         | customer_id                      | order_status   | order_purchase_timestamp   | order_approved_at   | order_delivered_carrier_date   | order_delivered_customer_date   | order_estimated_delivery_date   |
|---:|:---------------------------------|:---------------------------------|:---------------|:---------------------------|:--------------------|:-------------------------------|:--------------------------------|:--------------------------------|
|  0 | e481f51cbdc54678b7cc49136f2d6af7 | 9ef432eb6251297304e76186b10a928d | delivered      | 2017-10-02 10:56:33        | 2017-10-02 11:07:15 | 2017-10-04 19:55:00            | 2017-10-10 21:25:13             | 2017-10-18 00:00:00             |
|  1 | 53cdb2fc8bc7dce0b6741e2150273451 | b0830fb4747a6c6d20dea0b8c802d7ef | delivered      | 2018-07-24 20:41:37        | 2018-07-26 03:24:27 | 2018-07-26 14:31:00            | 2018-08-07 15:27:45             | 2018-08-13 00:00:00             |
|  2 | 47770eb9100c2d0c44946d9cf07ec65d | 41ce2a54c0b03bf3443c3d931a367089 | delivered      | 2018-08-08 08:38:49        | 2018-08-08 08:55:23 | 2018-08-08 13:50:00            | 2018-08-17 18:06:29             | 2018-09-04 00:00:00             |

================================================================================


================================================================================
üìä DATASET: ORDER_ITEMS
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 7
**Mem√≥ria**: 3.19 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| order_id | object | 10,000 | 0 | 0.0% | 8,797 | 00010242fe8c5a6d1ba2 |
| order_item_id | int64 | 10,000 | 0 | 0.0% | 8 | 1 |
| product_id | object | 10,000 | 0 | 0.0% | 6,088 | 4244733e06e7ecb4970a |
| seller_id | object | 10,000 | 0 | 0.0% | 1,574 | 48436dade18ac8b2bce0 |
| shipping_limit_date | object | 10,000 | 0 | 0.0% | 8,776 | 2017-09-19 09:45:35 |
| price | float64 | 10,000 | 0 | 0.0% | 1,832 | 58.90 |
| freight_value | float64 | 10,000 | 0 | 0.0% | 2,618 | 13.29 |

### Estat√≠sticas Num√©ricas

|       |   order_item_id |     price |   freight_value |
|:------|----------------:|----------:|----------------:|
| count |    10000        | 10000     |      10000      |
| mean  |        1.1798   |   120.486 |         20.0984 |
| std   |        0.583529 |   187.729 |         16.4255 |
| min   |        1        |     3.49  |          0      |
| 25%   |        1        |    39.9   |         13.08   |
| 50%   |        1        |    74.98  |         16.285  |
| 75%   |        1        |   135.9   |         21.26   |
| max   |        8        |  6735     |        375.28   |

### Sample Data (primeiras 3 linhas)

|    | order_id                         |   order_item_id | product_id                       | seller_id                        | shipping_limit_date   |   price |   freight_value |
|---:|:---------------------------------|----------------:|:---------------------------------|:---------------------------------|:----------------------|--------:|----------------:|
|  0 | 00010242fe8c5a6d1ba2dd792cb16214 |               1 | 4244733e06e7ecb4970a6e2683c13e61 | 48436dade18ac8b2bce089ec2a041202 | 2017-09-19 09:45:35   |    58.9 |           13.29 |
|  1 | 00018f77f2f0320c557190d7a144bdd3 |               1 | e5f2d52b802189ee658865ca93d83a8f | dd7ddc04e1b6c2c614352b383efe2d36 | 2017-05-03 11:05:13   |   239.9 |           19.93 |
|  2 | 000229ec398224ef6ca0657da4fc703e |               1 | c777355d18b72b67abbeef9df44fd0fd | 5b51032eddd242adc84c38acab88f23d | 2018-01-18 14:48:30   |   199   |           17.87 |

================================================================================


================================================================================
üìä DATASET: CUSTOMERS
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 5
**Mem√≥ria**: 2.67 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| customer_id | object | 10,000 | 0 | 0.0% | 10,000 | 06b8999e2fba1a1fbc88 |
| customer_unique_id | object | 10,000 | 0 | 0.0% | 9,964 | 861eff4711a542e4b938 |
| customer_zip_code_prefix | int64 | 10,000 | 0 | 0.0% | 5,878 | 14409 |
| customer_city | object | 10,000 | 0 | 0.0% | 1,594 | franca |
| customer_state | object | 10,000 | 0 | 0.0% | 27 | SP |

### Estat√≠sticas Num√©ricas

|       |   customer_zip_code_prefix |
|:------|---------------------------:|
| count |                    10000   |
| mean  |                    34733.8 |
| std   |                    29720.5 |
| min   |                     1008   |
| 25%   |                    11068.8 |
| 50%   |                    24210   |
| 75%   |                    58016   |
| max   |                    99980   |

### Sample Data (primeiras 3 linhas)

|    | customer_id                      | customer_unique_id               |   customer_zip_code_prefix | customer_city         | customer_state   |
|---:|:---------------------------------|:---------------------------------|---------------------------:|:----------------------|:-----------------|
|  0 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |                      14409 | franca                | SP               |
|  1 | 18955e83d337fd6b2def6b18a428ac77 | 290c77bc529b7ac935b93aa66c333dc3 |                       9790 | sao bernardo do campo | SP               |
|  2 | 4e7b3e00288586ebd08712fdd0374a03 | 060e732b5b29e8181a18229c7b0b2b5e |                       1151 | sao paulo             | SP               |

================================================================================


================================================================================
üìä DATASET: PRODUCTS
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 9
**Mem√≥ria**: 1.91 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| product_id | object | 10,000 | 0 | 0.0% | 10,000 | 1e9e8ef04dbcff4541ed |
| product_category_name | object | 9,812 | 188 | 1.9% | 72 | perfumaria |
| product_name_lenght | float64 | 9,812 | 188 | 1.9% | 59 | 40.00 |
| product_description_lenght | float64 | 9,812 | 188 | 1.9% | 2,140 | 287.00 |
| product_photos_qty | float64 | 9,812 | 188 | 1.9% | 17 | 1.00 |
| product_weight_g | float64 | 9,999 | 1 | 0.0% | 1,203 | 225.00 |
| product_length_cm | float64 | 9,999 | 1 | 0.0% | 96 | 16.00 |
| product_height_cm | float64 | 9,999 | 1 | 0.0% | 95 | 10.00 |
| product_width_cm | float64 | 9,999 | 1 | 0.0% | 83 | 14.00 |

### Estat√≠sticas Num√©ricas

|       |   product_name_lenght |   product_description_lenght |   product_photos_qty |   product_weight_g |   product_length_cm |   product_height_cm |   product_width_cm |
|:------|----------------------:|-----------------------------:|---------------------:|-------------------:|--------------------:|--------------------:|-------------------:|
| count |             9812      |                     9812     |           9812       |            9999    |           9999      |           9999      |          9999      |
| mean  |               48.4831 |                      767.98  |              2.19313 |            2237.75 |             30.8778 |             16.5931 |            23.0666 |
| std   |               10.2333 |                      624.624 |              1.76123 |            4244.71 |             16.8931 |             13.3859 |            12.0105 |
| min   |                7      |                        4     |              1       |               0    |              8      |              2      |             6      |
| 25%   |               42      |                      343     |              1       |             300    |             18      |              8      |            15      |
| 50%   |               51      |                      595     |              1       |             700    |             25      |             13      |            20      |
| 75%   |               57      |                      968     |              3       |            1800    |             39      |             20      |            30      |
| max   |               69      |                     3985     |             20       |           30000    |            105      |            105      |           105      |

### Sample Data (primeiras 3 linhas)

|    | product_id                       | product_category_name   |   product_name_lenght |   product_description_lenght |   product_photos_qty |   product_weight_g |   product_length_cm |   product_height_cm |   product_width_cm |
|---:|:---------------------------------|:------------------------|----------------------:|-----------------------------:|---------------------:|-------------------:|--------------------:|--------------------:|-------------------:|
|  0 | 1e9e8ef04dbcff4541ed26657ea517e5 | perfumaria              |                    40 |                          287 |                    1 |                225 |                  16 |                  10 |                 14 |
|  1 | 3aa071139cb16b67ca9e5dea641aaa2f | artes                   |                    44 |                          276 |                    1 |               1000 |                  30 |                  18 |                 20 |
|  2 | 96bd76ec8810374ed1b65e291975717f | esporte_lazer           |                    46 |                          250 |                    1 |                154 |                  18 |                   9 |                 15 |

================================================================================


================================================================================
üìä DATASET: SELLERS
================================================================================

**Total de Linhas**: 3,095
**Total de Colunas**: 4
**Mem√≥ria**: 0.59 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| seller_id | object | 3,095 | 0 | 0.0% | 3,095 | 3442f8959a84dea7ee19 |
| seller_zip_code_prefix | int64 | 3,095 | 0 | 0.0% | 2,246 | 13023 |
| seller_city | object | 3,095 | 0 | 0.0% | 611 | campinas |
| seller_state | object | 3,095 | 0 | 0.0% | 23 | SP |

### Estat√≠sticas Num√©ricas

|       |   seller_zip_code_prefix |
|:------|-------------------------:|
| count |                   3095   |
| mean  |                  32291.1 |
| std   |                  32713.5 |
| min   |                   1001   |
| 25%   |                   7093.5 |
| 50%   |                  14940   |
| 75%   |                  64552.5 |
| max   |                  99730   |

### Sample Data (primeiras 3 linhas)

|    | seller_id                        |   seller_zip_code_prefix | seller_city    | seller_state   |
|---:|:---------------------------------|-------------------------:|:---------------|:---------------|
|  0 | 3442f8959a84dea7ee197c632cb2df15 |                    13023 | campinas       | SP             |
|  1 | d1b65fc7debc3361ea86b5f14c68d2e2 |                    13844 | mogi guacu     | SP             |
|  2 | ce3ad9de960102d0677a81f5d0bb7b2d |                    20031 | rio de janeiro | RJ             |

================================================================================


================================================================================
üìä DATASET: REVIEWS
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 7
**Mem√≥ria**: 3.95 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| review_id | object | 10,000 | 0 | 0.0% | 9,993 | 7bc2406110b926393aa5 |
| order_id | object | 10,000 | 0 | 0.0% | 9,995 | 73fc7af87114b39712e6 |
| review_score | int64 | 10,000 | 0 | 0.0% | 5 | 4 |
| review_comment_title | object | 1,190 | 8,810 | 88.1% | 676 | recomendo |
| review_comment_message | object | 4,180 | 5,820 | 58.2% | 3,911 | Recebi bem antes do  |
| review_creation_date | object | 10,000 | 0 | 0.0% | 555 | 2018-01-18 00:00:00 |
| review_answer_timestamp | object | 10,000 | 0 | 0.0% | 9,989 | 2018-01-18 21:46:59 |

### Estat√≠sticas Num√©ricas

|       |   review_score |
|:------|---------------:|
| count |    10000       |
| mean  |        4.1065  |
| std   |        1.33129 |
| min   |        1       |
| 25%   |        4       |
| 50%   |        5       |
| 75%   |        5       |
| max   |        5       |

### Sample Data (primeiras 3 linhas)

|    | review_id                        | order_id                         |   review_score |   review_comment_title |   review_comment_message | review_creation_date   | review_answer_timestamp   |
|---:|:---------------------------------|:---------------------------------|---------------:|-----------------------:|-------------------------:|:-----------------------|:--------------------------|
|  0 | 7bc2406110b926393aa56f80a40eba40 | 73fc7af87114b39712e6da79b0a377eb |              4 |                    nan |                      nan | 2018-01-18 00:00:00    | 2018-01-18 21:46:59       |
|  1 | 80e641a11e56f04c1ad469d5645fdfde | a548910a1c6147796b98fdf73dbeba33 |              5 |                    nan |                      nan | 2018-03-10 00:00:00    | 2018-03-11 03:05:13       |
|  2 | 228ce5500dc1d8e020d8d1322874b6f0 | f9e4b658b201a9f2ecdecbb34bed034b |              5 |                    nan |                      nan | 2018-02-17 00:00:00    | 2018-02-18 14:36:24       |

================================================================================


================================================================================
üìä DATASET: PAYMENTS
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 5
**Mem√≥ria**: 1.56 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| order_id | object | 10,000 | 0 | 0.0% | 9,921 | b81ef226f3fe1789b1e8 |
| payment_sequential | int64 | 10,000 | 0 | 0.0% | 18 | 1 |
| payment_type | object | 10,000 | 0 | 0.0% | 4 | credit_card |
| payment_installments | int64 | 10,000 | 0 | 0.0% | 18 | 8 |
| payment_value | float64 | 10,000 | 0 | 0.0% | 7,052 | 99.33 |

### Estat√≠sticas Num√©ricas

|       |   payment_sequential |   payment_installments |   payment_value |
|:------|---------------------:|-----------------------:|----------------:|
| count |         10000        |            10000       |       10000     |
| mean  |             1.0979   |                2.8663  |         155.325 |
| std   |             0.705241 |                2.70691 |         225.256 |
| min   |             1        |                1       |           0.01  |
| 25%   |             1        |                1       |          56.6   |
| 50%   |             1        |                1       |          99.9   |
| 75%   |             1        |                4       |         171.683 |
| max   |            27        |               24       |        4764.34  |

### Sample Data (primeiras 3 linhas)

|    | order_id                         |   payment_sequential | payment_type   |   payment_installments |   payment_value |
|---:|:---------------------------------|---------------------:|:---------------|-----------------------:|----------------:|
|  0 | b81ef226f3fe1789b1e8b2acac839d17 |                    1 | credit_card    |                      8 |           99.33 |
|  1 | a9810da82917af2d9aefd1278f1dcfa0 |                    1 | credit_card    |                      1 |           24.39 |
|  2 | 25e8ea4e93396b6fa0d3dd708e76c1bd |                    1 | credit_card    |                      1 |           65.71 |

================================================================================


================================================================================
üìä DATASET: GEOLOCATION
================================================================================

**Total de Linhas**: 10,000
**Total de Colunas**: 5
**Mem√≥ria**: 1.29 MB

### Colunas

| Coluna | Tipo | N√£o-Nulos | Nulos | Nulos % | √önicos | Exemplo |
|--------|------|-----------|-------|---------|--------|---------|
| geolocation_zip_code_prefix | int64 | 10,000 | 0 | 0.0% | 186 | 1037 |
| geolocation_lat | float64 | 10,000 | 0 | 0.0% | 4,257 | -23.55 |
| geolocation_lng | float64 | 10,000 | 0 | 0.0% | 4,273 | -46.64 |
| geolocation_city | object | 10,000 | 0 | 0.0% | 2 | sao paulo |
| geolocation_state | object | 10,000 | 0 | 0.0% | 1 | SP |

### Estat√≠sticas Num√©ricas

|       |   geolocation_zip_code_prefix |   geolocation_lat |   geolocation_lng |
|:------|------------------------------:|------------------:|------------------:|
| count |                    10000      |     10000         |     10000         |
| mean  |                     1203.12   |       -23.5431    |       -46.6506    |
| std   |                       92.9129 |         0.0121375 |         0.0149104 |
| min   |                     1001      |       -23.6966    |       -46.6904    |
| 25%   |                     1139      |       -23.5501    |       -46.6576    |
| 50%   |                     1226      |       -23.543     |       -46.6504    |
| 75%   |                     1258      |       -23.5357    |       -46.6426    |
| max   |                     1333      |       -23.4854    |       -46.4574    |

### Sample Data (primeiras 3 linhas)

|    |   geolocation_zip_code_prefix |   geolocation_lat |   geolocation_lng | geolocation_city   | geolocation_state   |
|---:|------------------------------:|------------------:|------------------:|:-------------------|:--------------------|
|  0 |                          1037 |          -23.5456 |          -46.6393 | sao paulo          | SP                  |
|  1 |                          1046 |          -23.5461 |          -46.6448 | sao paulo          | SP                  |
|  2 |                          1046 |          -23.5461 |          -46.643  | sao paulo          | SP                  |

================================================================================


================================================================================
üìä DATASET: CATEGORY_TRANSLATION
================================================================================

**Total de Linhas**: 71

In [39]:
## an√°lise de relacionamentos
print("\n" + "="*80)
print("üîó AN√ÅLISE DE RELACIONAMENTOS")
print("="*80 + "\n")

# Definir relacionamentos (tabela origem, coluna FK, tabela destino, coluna PK)
relationships = [
    ('orders', 'customer_id', 'customers', 'customer_id'),
    ('order_items', 'order_id', 'orders', 'order_id'),
    ('order_items', 'product_id', 'products', 'product_id'),
    ('order_items', 'seller_id', 'sellers', 'seller_id'),
    ('reviews', 'order_id', 'orders', 'order_id'),
    ('payments', 'order_id', 'orders', 'order_id'),
]

print("| Tabela Origem | Coluna FK | Tabela Destino | Coluna PK | Match % |")
print("|---------------|-----------|----------------|-----------|---------|")

for source_table, source_col, target_table, target_col in relationships:
    source_df = dfs[source_table]
    target_df = dfs[target_table]
    
    matches = source_df[source_col].isin(target_df[target_col]).sum()
    total = len(source_df)
    match_pct = (matches / total * 100)
    
    print(f"| {source_table} | {source_col} | {target_table} | {target_col} | {match_pct:.1f}% |")

================================================================================
üîó AN√ÅLISE DE RELACIONAMENTOS
================================================================================

| Tabela Origem | Coluna FK | Tabela Destino | Coluna PK | Match % |
|---------------|-----------|----------------|-----------|---------|
| orders | customer_id | customers | customer_id | 10.4% |
| order_items | order_id | orders | order_id | 9.7% |
| order_items | product_id | products | product_id | 30.4% |
| order_items | seller_id | sellers | seller_id | 100.0% |
| reviews | order_id | orders | order_id | 10.0% |
| payments | order_id | orders | order_id | 10.3% |

In [40]:
## an√°lise de cardinalidade
print("\n" + "="*80)
print("üìä CARDINALIDADE")
print("="*80 + "\n")

print(f"Clientes √önicos:    {dfs['customers']['customer_id'].nunique():,}")
print(f"Pedidos √önicos:     {dfs['orders']['order_id'].nunique():,}")
print(f"Produtos √önicos:    {dfs['products']['product_id'].nunique():,}")
print(f"Vendedores √önicos:  {dfs['sellers']['seller_id'].nunique():,}")

print(f"\nItens por Pedido:   {len(dfs['order_items']) / len(dfs['orders']):.2f} (m√©dia)")
print(f"Pedidos por Cliente: {len(dfs['orders']) / dfs['customers']['customer_id'].nunique():.2f} (m√©dia)")

================================================================================
üìä CARDINALIDADE
================================================================================

Clientes √önicos:    10,000
Pedidos √önicos:     10,000
Produtos √önicos:    10,000
Vendedores √önicos:  3,095

Itens por Pedido:   1.00 (m√©dia)
Pedidos por Cliente: 1.00 (m√©dia)

In [41]:
## 7. Qualidade dos Dados
print("\n" + "="*80)
print("üîç QUALIDADE DOS DADOS")
print("="*80 + "\n")

for name, df in dfs.items():
    total_cells = df.shape[0] * df.shape[1]
    missing_cells = df.isnull().sum().sum()
    missing_pct = (missing_cells / total_cells * 100)
    duplicates = df.duplicated().sum()
    
    print(f"\nüìã {name.upper()}")
    print(f"    C√©lulas totais:     {total_cells:,}")
    print(f"    C√©lulas faltando:   {missing_cells:,} ({missing_pct:.2f}%)")
    print(f"    Linhas duplicadas: {duplicates:,}")
    
    # Mostrar colunas com dados faltantes
    missing_cols = df.columns[df.isnull().any()].tolist()
    if missing_cols:
        print(f"    Colunas com nulls: {', '.join(missing_cols)}")

================================================================================
üîç QUALIDADE DOS DADOS
================================================================================


üìã ORDERS
    C√©lulas totais:     80,000
    C√©lulas faltando:   467 (0.58%)
    Linhas duplicadas: 0
    Colunas com nulls: order_approved_at, order_delivered_carrier_date, order_delivered_customer_date

üìã ORDER_ITEMS
    C√©lulas totais:     70,000
    C√©lulas faltando:   0 (0.00%)
    Linhas duplicadas: 0

üìã CUSTOMERS
    C√©lulas totais:     50,000
    C√©lulas faltando:   0 (0.00%)
    Linhas duplicadas: 0

üìã PRODUCTS
    C√©lulas totais:     90,000
    C√©lulas faltando:   756 (0.84%)
    Linhas duplicadas: 0
    Colunas com nulls: product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm

üìã SELLERS
    C√©lulas totais:     12,380
    C√©lulas faltando:   0 (0.00%)
    Linhas duplicadas: 0

üìã REVIEWS
    C√©lulas totais:     70,000
    C√©lulas faltando:   14,630 (20.90%)
    Linhas duplicadas: 0
    Colunas com nulls: review_comment_title, review_comment_message

üìã PAYMENTS
    C√©lulas totais:     50,000
    C√©lulas faltando:   0 (0.00%)
    Linhas duplicadas: 0

üìã GEOLOCATION
    C√©lulas totais:     50,000
    C√©lulas faltando:   0 (0.00%)
    Linhas duplicadas: 4,972

üìã CATEGORY_TRANSLATION
    C√©lulas totais:     142
    C√©lulas faltando:   0 (0.00%)
    Linhas duplicadas: 0

In [42]:
## 8. M√©tricas de Neg√≥cio
print("\n" + "="*80)
print("üíº M√âTRICAS DE NEG√ìCIO")
print("="*80 + "\n")

# Per√≠odo dos dados
dfs['orders']['order_purchase_timestamp'] = pd.to_datetime(dfs['orders']['order_purchase_timestamp'])
print(f"üìÖ Per√≠odo dos Dados:")
print(f"    Primeira venda: {dfs['orders']['order_purchase_timestamp'].min()}")
print(f"    √öltima venda:    {dfs['orders']['order_purchase_timestamp'].max()}")

# Status dos pedidos
print(f"\nüì¶ Status dos Pedidos:")
print(dfs['orders']['order_status'].value_counts())

# Distribui√ß√£o geogr√°fica
print(f"\nüåé Top 5 Estados (Clientes):")
print(dfs['customers']['customer_state'].value_counts().head())

# Avalia√ß√µes
print(f"\n‚≠ê Distribui√ß√£o de Avalia√ß√µes:")
print(dfs['reviews']['review_score'].value_counts().sort_index())
print(f"\n    M√©dia: {dfs['reviews']['review_score'].mean():.2f}/5.0")

# Pagamentos
print(f"\nüí≥ M√©todos de Pagamento:")
print(dfs['payments']['payment_type'].value_counts())

# Receita
total_product = dfs['order_items']['price'].sum()
total_freight = dfs['order_items']['freight_value'].sum()
print(f"\nüí∞ Receita:")
print(f"    Produtos: R$ {total_product:,.2f}")
print(f"    Frete:    R$ {total_freight:,.2f}")
print(f"    Total:    R$ {total_product + total_freight:,.2f}")

================================================================================
üíº M√âTRICAS DE NEG√ìCIO
================================================================================

üìÖ Per√≠odo dos Dados:
    Primeira venda: 2016-09-04 21:15:19
    √öltima venda:    2018-09-20 13:54:16

üì¶ Status dos Pedidos:
order_status
delivered      9719
shipped         106
canceled         58
unavailable      55
processing       32
invoiced         28
created           2
Name: count, dtype: int64

üåé Top 5 Estados (Clientes):
customer_state
SP    4224
RJ    1352
MG    1171
RS     542
PR     516
Name: count, dtype: int64

‚≠ê Distribui√ß√£o de Avalia√ß√µes:
review_score
1    1102
2     323
3     804
4    1950
5    5821
Name: count, dtype: int64

    M√©dia: 4.11/5.0

üí≥ M√©todos de Pagamento:
payment_type
credit_card    7399
boleto         1870
voucher         574
debit_card      157
Name: count, dtype: int64

üí∞ Receita:
    Produtos: R$ 1,204,861.29
    Frete:    R$ 200,984.08
    Total:    R$ 1,405,845.37

In [43]:
## 9. Exportar Data Dictionary para Markdown
# Criar arquivo markdown com o dicion√°rio
output_path = Path('../bronze/dict_draft.md')

with open(output_path, 'w', encoding='utf-8') as f:
    f.write("# Bronze Layer - Data Dictionary\n\n")
    f.write("## üìä Olist Brazilian E-Commerce Dataset\n\n")
    f.write("*Gerado automaticamente via notebook de explora√ß√£o*\n\n")
    f.write("---\n\n")
    
    # Para cada dataset
    for name, df in dfs.items():
        f.write(f"## Dataset: {name.upper()}\\n\\n")
        f.write(f"**Linhas**: {len(df):,}  \n")
        f.write(f"**Colunas**: {len(df.columns)}  \n")
        f.write(f"**Arquivo**: `{datasets[name]}`  \n\n")
        
        # Tabela de colunas
        f.write("### Estrutura\n\n")
        f.write("| Coluna | Tipo | N√£o-Nulos | Nulos % | √önicos |\n")
        f.write("|--------|------|-----------|---------|--------|\n")
        
        for col in df.columns:
            dtype = str(df[col].dtype)
            non_null = df[col].count()
            null_pct = (df[col].isnull().sum() / len(df) * 100)
            unique = df[col].nunique()
            f.write(f"| {col} | {dtype} | {non_null:,} | {null_pct:.1f}% | {unique:,} |\n")
        
        f.write("\n---\n\n")

print(f"\n‚úÖ Data Dictionary salvo em: {output_path}")

‚úÖ Data Dictionary salvo em: ..\bronze\dict_draft.md

In [44]:
## 10. Resumo Final
print("\n" + "="*80)
print("üìù RESUMO DA EXPLORA√á√ÉO")
print("="*80)

print(f"\n‚úÖ Datasets Analisados: {len(dfs)}")
print(f"‚úÖ Total de Colunas: {sum(len(df.columns) for df in dfs.values())}")
print(f"‚úÖ Total de Registros: {sum(len(df) for df in dfs.values()):,}")

print(f"\nüìä Principais Entidades:")
print(f"    ‚Ä¢ {len(dfs['orders']):,} pedidos")
print(f"    ‚Ä¢ {dfs['customers']['customer_id'].nunique():,} clientes √∫nicos")
print(f"    ‚Ä¢ {dfs['products']['product_id'].nunique():,} produtos √∫nicos")
print(f"    ‚Ä¢ {dfs['sellers']['seller_id'].nunique():,} vendedores")

print(f"\nüí∞ Receita Total: R$ {total_product + total_freight:,.2f}")
print(f"‚≠ê Avalia√ß√£o M√©dia: {dfs['reviews']['review_score'].mean():.2f}/5.0")

print(f"\nüìÑ Data Dictionary gerado em: bronze/data_dictionary.md")
print(f"\nüéØ Bronze Layer completa!")
print("="*80)

================================================================================
üìù RESUMO DA EXPLORA√á√ÉO
================================================================================

‚úÖ Datasets Analisados: 9
‚úÖ Total de Colunas: 52
‚úÖ Total de Registros: 73,166

üìä Principais Entidades:
    ‚Ä¢ 10,000 pedidos
    ‚Ä¢ 10,000 clientes √∫nicos
    ‚Ä¢ 10,000 produtos √∫nicos
    ‚Ä¢ 3,095 vendedores

üí∞ Receita Total: R$ 1,405,845.37
‚≠ê Avalia√ß√£o M√©dia: 4.11/5.0

üìÑ Data Dictionary gerado em: bronze/data_dictionary.md

üéØ Bronze Layer completa!
================================================================================